<nav class="navbar navbar-default">  
  <div class="container-fluid">
    <div class="row">
		  <div class="col-xs-12">
        <div class="text-right nav-name" id="user-status-msg"></div>
        <!-- FB Login -->
        <!-- button click triggers js function checkLoginState() -->
        <div class="fb-login-button pull-right" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true" onlogin="checkLoginState"></div>
      </div>
    </div>
    <div class="row">
      <h1 class="col-xs-12"><%= link_to 'Catsta', root_path %></h1>
    </div>
		<h4>powered by <%= link_to 'The Cat Api', 'http://thecatapi.com/', target: "_blank" %></h4>

    
	</div>



</nav>