<nav class="navbar navbar-default">
  <div class="container-fluid">
		<h1><%= link_to 'Catstagram', root_path %></h1>
		<h4>powered by <%= link_to 'The Cat Api', 'http://thecatapi.com/', target: "_blank" %></h4>
	</div>
</div>